*.Rmd linguist-language=R
*.Rnw linguist-language=R
lornegenome2017/code/R/*.html linguist-documentation
sbrs2017/code/R/*.html linguist-documentation
vizbi2017/code/R/*.html linguist-documentation
bosc2017/code/R/*.html linguist-documentation
ismbeccb2017/code/R/*.html linguist-documentation
abacbs2017/code/R/*.html linguist-documentation
